.topBar{
  width: 100%;
  margin: 0;
  position: fixed;
  height: 80px;
  background-color: rgba(1 , 1, 1, 0.9);
  -webkit-box-shadow: 0px 12px 15px 3px rgba(0,149,255,0.75);
  -moz-box-shadow: 0px 12px 15px 3px rgba(0,149,255,0.75);
  box-shadow: 0px 12px 15px 3px rgba(0,149,255,0.75);
}


.topBarWrapper{
  margin: auto;
  width: 75%;
  text-align: center; 
}
.topBarWrapper ul{
  padding: 0;
  margin: 20px;
}
.topBarWrapper ul li a{
  color: aliceblue;
  font-size: 28px;
}
.topBarWrapper ul li a:hover{
  color: rgba(0,255,100,0.95);
}
.topBar button{
  float: right;
  margin: 17px 25px;
}
.topBar button:hover {
  background-color: aliceblue !important;
  color: blue !important;
}


.topBar *{
  display: inline-block;
}

